@charset "utf-8";

/* CSS Document */



body{margin:0;padding:0;font-family:Microsoft YaHei;color:#000; background:#f1f1f1;height:100%;padding-bottom:20%;}

div,form,input,select,p,table,h1,h2,h3,h4,h5,h6,ul,ol,li,th,td,dl,dt,dd,span{margin:0;padding:0;font-weight:inherit;font-style:inherit;font-size:100%;}

h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold;}

ul, ol, dl, dt, dd {list-style: none outside none;}

a{text-decoration:none;color:#fff;outline:none;star:expression(this.onFocus=this.blur());transition: all 1s ease 0s;}

*html,*html{background-image:url(../css/.com/ichees/css/about:blank);background-attachment:fixed}

a:hover{color:#fff;text-decoration:none;}

table{border-collapse:collapse;}

img{border:none;}

em,i{font-style:normal;}

*{margin:0px; padding:0px;}

input{outline:none;font-size:16px;font-family:Microsoft YaHei,Arial,Helvetica,sans-serif,Regular;}

select{outline:none;}

textarea{outline:none;}

area{outline:none;star:expression(this.onFocus=this.blur())}

.clear{clear:both;}



.head{padding:15px;}

.head h1{font-size:24px;}

.time{padding:0px 15px 15px 15px;font-size:20px;color:#949494;}

.time_left{float:left;}

.time_right{float:left;padding-left:15px;}

.line{border-bottom:#eb72a9 1px dashed;}

@media screen and (min-width: 1024px) {
  .line_pc {
  margin:0px 15px;border-bottom:#eb72a9 1px dashed;
  }
  .line{display:none}
}

.name{padding:15px 15px 0px 15px;font-size:16px;color:#6caaf3;}

.partend{padding:15px 15px 0px 15px;color:#c5c5c4;font-size:18px;}
.partend img{width:100%}

.partend_c{color:#c5c5c4;padding:0px 15px 0px 15px;}

.partend_son{color:#000;text-align:justify;}


@media screen and (max-width: 800px) { 
  .layer {
   width:100%;position:fixed;bottom:0px;background-color: rgba(65,65,65,0.8);padding:2% 0px;
  }
}
.layer_left{float:left;width:50%;padding-left:5%;margin-top:1%;}
.layer_right{float:right;width:25%;margin-right:5%;margin-top:1%;cursor:pointer;}

.layer_pc {
   width:1024px;position:fixed;bottom:0px;background-color: rgba(65,65,65,0.8);padding:20px 0px 10px 0px;display:none
  }

@media screen and (min-width: 1024px) {
  .layer_pc {
  display:block
  }
  .layer{display:none}
}

.layer_left_pc{float:left;padding-left:120px;}
.layer_right_pc{float:right;margin-right:120px;cursor:pointer;}

.yanse

{

color:#000;padding:0px 15px 0px 15px;

animation:myfirst 1s;

-moz-animation:myfirst 1s; /* Firefox */

-webkit-animation:myfirst 1s; /* Safari and Chrome */

-o-animation:myfirst 1s; /* Opera */

animation-iteration-count:1;

-webkit-animation-iteration-count:1;

}

.content{line-height:32px;margin:15px;background:#FFF;}



@keyframes myfirst

{

from {color:#c5c5c4;}

to {color:#000;}

}



@-moz-keyframes myfirst /* Firefox */

{

from {color:#c5c5c4;}

to {color:#000;}

}



@-webkit-keyframes myfirst /* Safari and Chrome */

{

from {color:#c5c5c4;}

to {color:#000;}

}



@-o-keyframes myfirst /* Opera */

{

from {color:#c5c5c4;}

to {color:#000;}

}

.partend_c

{



color:#c5c5c4;padding:0px 15px 0px 15px;

animation:myfirst_1 1s;

-moz-animation:myfirst_1 1s; /* Firefox */

-webkit-animation:myfirst_1 1s; /* Safari and Chrome */

-o-animation:myfirst_1 1s; /* Opera */

animation-iteration-count:1;

-webkit-animation-iteration-count:1;

}



@keyframes myfirst_1

{

from {color:#000;}

to {color:#c5c5c4;}

}



@-moz-keyframes myfirst_1 /* Firefox */

{

from {color:#000;}

to {color:#c5c5c4;}

}



@-webkit-keyframes myfirst_1 /* Safari and Chrome */

{

from {color:#000;}

to {color:#c5c5c4;}

}



@-o-keyframes myfirst_1 /* Opera */

{

from {color:#000;}

to {color:#c5c5c4;}}

@media screen and (min-width: 1024px) { 
  .pc_width {
   width:1024px;margin:0px auto;
  }
}

.image_pc{display:none;width:1024px;max-height:478px;}
.image_pc_1{height:auto;margin:0px auto;text-align:center;}
@media screen and (min-width: 1024px) {
  .image_pc {
  display:block;
  }
  .image_mobile{display:none}
}

.Author{background:#FFF;margin:0px 15px 15px 15px;padding:15px;}
.Author_2{padding-top:10px;font-size:18px;}
.zixi_Author{margin:0px 15px 15px 15px;font-size:18px;}







