@charset "utf-8";
body {
	font-family: "Microsoft Yahei";
}
nav {
	height: 3.5em;
	width: 100%;
	background-color: #000000;
	position: fixed;
	z-index: 99;
}
nav ul {
	padding: 0 1em;
}
nav ul li {
	float: left;
	color: #fff;
	width: 28%;
	line-height: 3.5em;
}
nav ul li a img {
	height: 1.5em;
	width: 1em;
	margin-top: 1em;
}
nav ul li:first-child {
	width: 16%;
}
nav ul li a {
	text-decoration: none;
	color: #00a0e9;
}
nav ul li .on {
	color: #fff;
}
nav ul li:nth-child(1) {
	display: none;
}
nav ul li:nth-child(2) {
	display: none;
}
.coverBox {
	/*padding-top: 3.5em;*/
	position: relative;
}
.cover {
	height: 20vh;
	background-image: url("../images/temp_cover.png");
	background-size: cover;
	background-position: center;
}
.coverMask {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3vh;
	z-index: 5;
}
.coverMaskLeft {
	float: left;
	width: 11%;
	height: 3vh;
	background-color: #fff;
}
.coverMaskArrow {
	float: left;
	width: 10%;
	height: 3vh;
	background-image: url("../images/coverArrow.png");
	background-size: 100% 3vh;
}
.coverMaskRight {
	float: right;
	width: 79%;
	height: 3vh;
	background-color: #fff;
}
.bookInfo {
	padding: 0 2%;
	padding-bottom: 2em;
}
.bookThumb {
	float: left;
	width: 30%;
}
.bookThumb img {
	width: 100%;
}
.bookDes {
	float: right;
	width: 68%;
}
.bookDes h1 {
	color: #00a0e9;
	padding-bottom: 1em;
}
.bookDes p {
	font-size: 0.8em;
	margin-left: 0.5em;
}
.copyrightList {
	padding-bottom: 20vh;
}
.copyrightItem {
	padding: 0.5em 2%;
}
.avatar {
	float: left;
	width: 30%;
	height: 30%;
}
.avatar img {
	width: 100%;
	border-radius: 100%;
}
.itemDes {
	width: 68%;
	float: right;
	border-top: solid 1px #00a0e9;
	padding-top: 0.5em;
}
.itemDes h2 {
	margin-left: 0.5em;
	color: #00a0e9;
	font-size: 1.25em;
	margin-bottom: 0.2em;
}
.itemDes h2 span {
	font-size: 0.8em;
}
.itemDes h2 span b {
	font-size: 1.25em;
}
.itemDes p {
	margin-left: 0.5em;
}

footer {
	/*height: 10vh;*/
	display: none;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #000;
}
footer ul {
	padding: 2vh 2%;
}
footer ul li {
	width: 33.33%;
	float: left;
	text-align: center;
}
footer ul li img {
	height: 4vh;
	display: inline-block;
}
footer ul li p {
	font-size: 0.8em;
	color: #fff;
}
footer ul li a {
	text-decoration: none;
}
footer ul li .on {
	color: #fff100;
}

.chapterBox {
	padding-top: 1em;
	padding-bottom: 20vh;

}
.chapter {
	padding: 0.5em 0;
}
.chapter h3 {
	color: #c9caca;
	font-size: 0.8em;
	padding: 0 5%;
}
.chapter p {
	padding: 0 5%;
	font-size: 1em;
	line-height: 1.8em;
}
.chapter img {
	padding: 1em 0;
}
.titleTip {
	position: fixed;
	bottom: 0;
	height: 1.6em;
	width: 100%;
	background-image: url("../images/shadow.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 100% auto;
}
.titleTip p {
	font-size: 0.8em;
	background-color: #fff;
	color: #00a0e9;
	text-align: center;
	margin-top: 0.5em;
}

.back {
	position: absolute;
	width: 3em;
	height: 3em;
	left: 5%;
	top: 5%;
}
.back img {
	width: 1.5em;
}
.thumb {
	position: relative;

}
.thumb img {
	width: 100%;
	max-height: 20em;
	margin-bottom: 1em;
}
.thumb img:nth-child(2) {
	width: 20%;
	margin-bottom: 0;
	position: absolute;
	right: 0;
	bottom: 0;
}
.storyInfo {
	margin-top: 1em;
	padding:0 1em;
}
.storyInfo h2 {
	color: #00a0e8;
	text-align:center;
	font-size: 1.6em;
	padding-bottom: 1em;
}
.storyInfo img {
	width: 100%;
	display: inline-block;
	/*float: left;*/
	width: 25%;
	vertical-align: text-bottom;
}
.storyInfo p {
	display: inline-block;
	color: #00a0e9;
	margin-left: 0.5em;
}
.mainContent {
	margin-top: 2em;
	padding:0 1em;
	line-height: 1.8em;
	padding-bottom: 4em;
}
.noContent {
	text-align: center;
	padding-top:10vh;
}
.noContent img {
	width: 80%;
	max-width: 640px;
}