@charset "utf-8";
/* CSS Document */
body{margin:0;padding:0;font-family:Microsoft YaHei,Arial,Helvetica,sans-serif,Regular;font-size:14px;color:#333333; background:#fff;}
div,form,input,select,p,table,h1,h2,h3,h4,h5,h6,ul,ol,li,th,td,dl,dt,dd,span{margin:0;padding:0;font-weight:inherit;font-style:inherit;font-size:100%;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold;}
ul, ol, dl, dt, dd {list-style: none outside none;}
a{text-decoration:none;color:#333333;outline:none;star:expression(this.onFocus=this.blur());transition: all 1s ease 0s;}
*html,*html{background-image:url(about:blank);background-attachment:fixed}
a:hover{color:#1b7fdd;text-decoration:underline;}
table{border-collapse:collapse;}
img{border:none;
    padding: 2% 2% 2% 2%;
	width: 100%;
	max-width: 640px;
}

em,i{font-style:normal;}
*{margin:0px; padding:0px;}
input{outline:none;font-size:16px;font-family:Microsoft YaHei,Arial,Helvetica,sans-serif,Regular;}
select{outline:none;}
textarea{outline:none;}
area{outline:none;star:expression(this.onFocus=this.blur())}
.clear{clear:both;}

/********2015-10-09********/
.head{padding:3% 5% 0px 5%;}
.head h1{font-size:24px;font-weight:500;}
.time_logo{padding:3% 5% 0px 5%;}
.time{float:left;font-size:20px;color:#9c9b9a;}
.logo{float:left;margin-left:10px;display:inline;background:url(../images/logo.jpg) no-repeat;width:51px;height:48px;background-size:70% 70%;}
.article_1{background:#f5f8fc;margin:3% 5% 5% 5%;padding:5%;}
.paragraph p{line-height:1.8em;text-align:justify;}
.paragraph h3{font-weight:100;color:#909292;}
.wwdx{text-align:center;margin:0px 5% 0px 5%;}
.wwdx img{padding:0px;}
.footer_1{margin:3% 5% 5% 5%;}
.footer_left{float:left;width:52%;margin-top:4%;}
.footer_left p{font-size:24px;}
.footer_left p em{color:#dc6d9f;}
.footer_right{float:right;width:35%;}
.footer_right a{display:block;}
.noContent {
	text-align: center;
	padding-top:3vh 0;
}
.noContent img {
	width: 80%;
	max-width: 640px;
}