@charset "utf-8";
/* CSS Document */
body{margin:0;padding:0;font-family:Microsoft YaHei;font-size:16px;color:#0e0e0e; background:#202020;}
div,form,input,select,p,table,h1,h2,h3,h4,h5,h6,ul,ol,li,th,td,dl,dt,dd,span{margin:0;padding:0;font-weight:inherit;font-style:inherit;font-size:100%;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:bold;}
ul, ol, dl, dt, dd {list-style: none outside none;}
a{text-decoration:none;color:#fff;outline:none;star:expression(this.onFocus=this.blur());transition: all 1s ease 0s;}
*html,*html{background-image:url(about:blank);background-attachment:fixed}
a:hover{color:#1b7fdd;text-decoration:underline;}
table{border-collapse:collapse;}
img{border:none;}
em,i{font-style:normal;}
*{margin:0px; padding:0px;}
input{outline:none;font-size:16px;font-family:Microsoft YaHei,Arial,Helvetica,sans-serif,Regular;}
select{outline:none;}
textarea{outline:none;}
area{outline:none;star:expression(this.onFocus=this.blur())}
.clear{clear:both;}

.bg{width:1337px;height:889px;margin:0px auto;background:url(../images/zimu_bg.gif) no-repeat center;margin-top:95px;margin-bottom:95px;}
.bg_content{width:1328px;margin:0px auto;}
.bg_left{float: left; height: 674px;margin-left: 27px;margin-top: 109px;width: 380px;display:inline;overflow:auto;}
.bg_left_title{margin-bottom:62px;margin-top:10px;}
.bg_left_title h1{text-align:center;font-size:20px;font-weight:none;}
.bg_left_title p{ text-indent:24px;padding:3px 10px;line-height:25px;font-size:18px;}
.bg_left_name{padding:0px 10px;color:#ff0b0b;font-size:20px;}
.bg_left_content{padding:0px 10px;margin-bottom:48px;font-size:20px;}
.bg_left_content p{text-indent:24px;}